<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="provider" value="System.Data.SqlClient"/>
		<add key="connectionString" value="Data Source=DESKTOP-A4S5T9U\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</appSettings>
	<connectionStrings>
		<add name="AutoLotSqlDataProvider" connectionString="Data Source=DESKTOP-A4S5T9U\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
		<add name="AutoLotOleDDataProvider" connectionString="Data Source=DESKTOP-A4S5T9U\SQLEXPRESS;Initial Catalog=AutoLot;Integrated Security=True;Connect Timeout=30;Encrypt=False;TrustServerCertificate=False;ApplicationIntent=ReadWrite;MultiSubnetFailover=False"/>
	</connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>